<html>
<body>
	<form method="POST">
		<p>Weeks <input type = "text" name = "weeks" /></p>
         <p>FHR <input type = "text" name = "fhr" /></p>
         <p>MHR <input type = "text" name = "mhr" /></p>
         <p>DIASTOLIC <input type ="text" name = "dia" /></p>
         <p>SYSTOLIC <input type ="text" name = "sys" /></p>
		 <p>Weight <input type ="text" name = "weight" /></p>
		 <p>Height <input type ="text" name = "height" /></p>
		 <p>Chest Pain <input type ="text" name = "cp" /></p>
		 <p>Stress <input type ="text" name = "stress" /></p>
    <input type="submit">
</form>
</body>
</html>
